# Ignorar arquivos de ambiente
.env

# Node modules
node_modules/

# Logs
logs/
*.log

# Diretórios temporários
tmp/
temp/

# Arquivos do sistema operacional
.DS_Store
Thumbs.db

# Saída de builds
dist/
build/
out/
